.places {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.places h1 {
	font-size: 1.875rem;
	align-self: flex-start;
	margin: 10px 20px 0;
}
.places div{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.places article h2 {
	font-size: 1.875rem;
	text-align: center;
}
.places .place_header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 1em;
}
.price_by_night {
	color: #ff5a5f;
	border: 4px #ff5a5f solid;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 1.875rem;
	padding: 10px 5px;
	letter-spacing: -1px;
}
.places .information {
	height: 80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
	margin-bottom: 20px;
	width: 100%;
}
.icon {
	width: 50px;
	height: 50px;
}
.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.icon.guests{
	background: url('../images/icon_group.png') no-repeat;
}
.icon.bed{
	background: url('../images/icon_bed.png') no-repeat;
}
.icon.bath{
	background: url('../images/icon_bath.png') no-repeat;
}
.user {
	text-align: left;
	align-self: flex-start;
	margin-bottom: 10px;
}
.places .amenities,
.places .reviews{
	margin-top: 40px;
	width: 100%;
}
.places .amenities h2,
.places .reviews h2 {
	font-size: 1rem;
	border-bottom: 1px solid #ddd;
	width: 100%;
	text-align: left;
	margin-bottom: 1em;
}
.places .amenities ul,
.places .reviews ul {
	width: 100%;
	text-align: left;
}
.places .amenities ul li {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
}
.places .amenities .icon {
	width: 20px;
	height: 20px;
	background-size: contain;
	margin-right: 1em;
}
.icon.tv{
	background: url('../images/icon_tv.png') no-repeat;
}
.icon.pet {
	background: url('../images/icon_pets.png') no-repeat;
}
.icon.wifi {
	background: url('../images/icon_wifi.png') no-repeat;
}
.places .reviews ul li {
	margin-bottom: 1em;
}
.places .reviews ul li h3 {
	font-size: 0.875rem;
}
.reviews ul li p {
	font-size: 0.75rem;
}
@media only screen and (max-width: 875.98px) {
	.places article {
		width: 350px;
		margin: 15px;
	}
	.places .reviews {
		display: none;
	}
}
@media only screen and (max-width: 775.98px) {
	.places article {
		width: 250px;
	}
	.places .place_header {
		flex-flow: column;
	}
	.places .price_by_night {
		order: -1;
		margin-bottom: 0.5em;
	}
	.places .information .icon,
	.places .amenities {
		display: none;
	}
	.places .information {
		flex-flow: column;
		justify-content: space-between;
	}
}
@media only screen and (max-width: 575.98px) {
	.places article {
		width: 200px;
		padding: 1em 0.5em;
	}
	.places .user {
		align-self: center;
	}
	.places .description {
		display: none;
	}
}
