.places {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.places h1 {
	font-size: 30px;
	align-self: flex-start;
	margin: 10px 20px 0;
}
.places div{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.places article h2 {
	font-size: 30px;
	text-align: center;
}
